.content-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-wrapper {
  width: 800px;
  top: 50%;
  right: 20%;
  position: absolute;
}
#search {
  align-self: center;
  width: 80%;
  height: 65px;
  border: 1px solid red;
  border-radius: 15px;
  background-color: darkgray;

}
